{{ define "main" }}
<div class="row mb-2 no-gutters card">
  {{ $flag := or (ne (string .Params.bookCover) "") (ne (string .Params.bookCoverSmall) "") }}
  {{ if $flag }}
  <div class="col-md-6 mt-2">
    <div class="w-90 m-auto bg-warning">
      {{ if (and .Params.bookCover .Params.bookCoverSmall) }}
      <a href="{{ .Params.bookCover | relURL }}"
        ><img
          class="rounded"
          style="width: 100%;"
          src="{{ .Params.bookCoverSmall | relURL }}"
      /></a>
      {{ else if .Params.bookCover }}
      <img
        class="rounded"
        style="width: 100%;"
        src="{{ .Params.bookCover | relURL }}"
      />
      {{ end }}

    </div>
  </div>
  {{ end }}

  <div class="{{ cond $flag "col-md-6" "col-md-12" }} p-2 mt-2 rounded shadow">

    <h5>{{ .Params.author }}</h5>
    <h2>{{ .Title | markdownify }}</h2>
    {{ if .Params.subtitle }}
    <h4>{{ .Params.subtitle }}</h4>
    {{ end }}
    <hr>

    <h3>
      Table des matières
    </h3>
    {{ range .Pages.GroupByParam "Section" }}
    <strong>{{.Key}}</strong>
    <ul class="list-unstyled">
      {{ range .Pages.ByWeight }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
{{ end }}
